$black: #000;
$lightgrey: #D9DAD2;
$darkgrey: #BDBEB6;
$yellow: #F0B408;
$red: #E84540;
$green: #00822A;
$blue: #015EAC;
$shadow: rgba(0, 0, 0, 0.4);

html {
  user-select: none;
  background:$lightgrey;
  font-family: 'Prata';
  overflow-x: hidden;
  cursor: -webkit-image-set(
  url('../../static/cursor.svg') 1x,
  url('../../static/cursor.svg') 2x
  ) 10 0,  auto;

}

li {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: -webkit-image-set(
    url('../../static/pointer.svg') 1x,
    url('../../static/pointer.svg') 2x
    ) 50 0, pointer;


}

a {
  background-image: linear-gradient(120deg, $lightgrey 0%, $lightgrey 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.1em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 70%;
  }
}

.background {
  position: relative;
  background: $lightgrey;
  width: 100vw;
  background-size: 2rem 2rem;
  background-image:
    linear-gradient(to right, $black 1px, transparent 1px),
    linear-gradient(to bottom, $black 1px, transparent 1px);
}

.window-frame {
  margin: 0;
  box-shadow: -10px 10px 0 $shadow;
  border: 1px solid $black;
  position: relative;
  //background-color: yellow;
  .navbar {
    margin: 0;
  font-size: 1rem;
    
    background: $lightgrey;
    font-family: 'Silom';
    height: 2.5rem;
    border-bottom: 0.1rem solid $black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .close {
      background: $red;
      margin-left: 1rem;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 0.1rem solid $black;
      cursor: -webkit-image-set(
  url('../../static/pointer.svg') 1x,
  url('../../static/pointer.svg') 2x
  ) 50 0, pointer;
      &:focus {
        border: 2px solid $black;
       outline: none;
      }
      &:active {
        transform: scale(1.2);
      }
    }
    .title {
      cursor: -webkit-image-set(
  url('../../static/move.svg') 1x,
  url('../../static/move.svg') 2x
  ) 50 50, move;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      .bars {
        border-top: 1px solid;
        border-bottom: 1px solid;
        width: 30%;
        height: 0.8rem;
      }
    }
  }
  .window-content {
    height: calc(100% - 2.5rem);
    padding: 2rem 1rem 0 3rem;
    line-height: 1;
    position: relative;
  }
}

.one {
  font-size: 5.2rem;
  top: 5rem;  
  margin:  auto;
  margin-bottom: 8rem;
  left: -15vw;
}

.p5 {
  font-size: 4.3rem;
  top: 5rem;
  margin: auto;
  margin-bottom: -8rem;
  left: -25vw;
  overflow: hidden;
}

.two {
  font-size: 4.3rem;

  margin: auto;
  margin-bottom: -10rem;
  left: 15vw;
  top: -15rem;
}

.three {
  font-size: 4.2rem;

  margin: auto;
  margin-bottom: 5rem;
  left: -12vw;
  .window-content {
    color: white;
  }
}

.four {
  font-size: 3.4rem;

  margin: auto;
  left: 5vw;
  margin-bottom: 5rem;
  .window-content {
    line-height: 1.2;
  }
}

.five, .seven {
  font-size: 3.6rem;

}

#work {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin-left: 5vw;
  margin-bottom: 20rem;
}
.six {
  top: 15rem;
  font-size: 3.6rem;

}

.eight {
  font-size: 3.6rem;
  margin: auto;
  margin-bottom: 4rem;
  .window-content{
    overflow-y: scroll;
    line-height: 1.2;
  }
}

.error-window {
  box-shadow: -10px 10px 0 $shadow;
  background: $darkgrey;
  padding-bottom: 2rem;
  font-family: 'Silom';
  border: 1px solid;
  
  .error-navbar {
    cursor: -webkit-image-set(
  url('../../static/move.svg') 1x,
  url('../../static/move.svg') 2x
  ) 50 50, move;
    background: $blue;
    border-bottom: 1px solid;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .error-title {
      color: white;
      font-size: 0.7rem;
      padding-left: 1rem;

    }
    .error-close {
      cursor: -webkit-image-set(
  url('../../static/pointer.svg') 1x,
  url('../../static/pointer.svg') 2x
  ) 50 0, pointer;
      height: 1.3rem;
      width: 1.3rem;
      margin-right: 0.1rem;
      background: $darkgrey;
      border-radius: none;
      border: none;
      border: 1px solid;
      .cross {
        position: relative;
        width: 100%;
        height: 100%;
      }
      &:focus {
        outline: 2px solid $black;
      }
      &:hover {
        background: $lightgrey;
      }
    }

    
  }
  .error-window-content {
    .error-top-content {
      padding: 1rem;
      padding-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    p {
      width: 50%;
      padding-left: 1rem;
    }
  }
}

.error-cross {
  box-shadow: -2px 2px 0 $shadow;
  width: 3rem;
  height: 3rem;
  background: $red;
  border-radius: 50%;
  border: 1px solid;
  .cross {
    position: relative;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
  } 
}


.error-buttons {
  display: flex;
  margin: auto;
  width: 70%;
  cursor: -webkit-image-set(
    url('../../static/pointer.svg') 1x,
    url('../../static/pointer.svg') 2x
    ) 50 0, pointer;
  
}

.error-enter {
  cursor: -webkit-image-set(
  url('../../static/pointer.svg') 1x,
  url('../../static/pointer.svg') 2x
  ) 50 0, pointer;
  background: $darkgrey;
  font-family: 'Silom';
  border-radius: none;
  border: none;
  border: 1px solid;
  padding: 0.4rem;
  margin: auto;
  display: flex;
  box-shadow: -2px 2px 0 $shadow;
  &:active {
    transform: translate(-2px, 2px);
    box-shadow: none;
    outline: none;
  }
  &:focus {
    outline: 2px solid $black;
  }
  &:hover {
    background: $lightgrey;
  }
}

.error-one {
  position: absolute; 
  margin-bottom: -10rem;
  z-index: 100;
}


.error-two {
  position: relative;
  left: 70vw;
  top: -10rem;
}

.error-three {
  position: relative;
  left: 20vw;
}

.nine {
  font-size: 1rem;

  margin: auto;
  margin-bottom: 2.2rem;
  left: 20vw;
  .window-content{
    top: -1rem;
    line-height:1;
  }
}

.wrapper {
  position: relative;
  display: flex;
}

.canvas-wrapper{
  outline: 2px solid black;
  left: 20rem;
  top: calc(-1rem);
  width: 30rem;
  height: 40rem;
  position: relative;
  background-color: none;
  //opacity: 0.6;
}

.tetris {
  width: 100%;
  height: 100%;
}

.windows img {
  width: 100%;
}

.tetris-button {
  cursor: -webkit-image-set(
  url('../../static/pointer.svg') 1x,
  url('../../static/pointer.svg') 2x
  ) 50 0, pointer;
  font-family: 'Silom';
  outline: none;
  margin-left: 2rem;
  border: 2px solid $black;
  position: relative;
  float: right;
  width: 5rem;
  height: 5rem;
  
  background: $darkgrey;
  box-shadow: -10px 10px 0 $shadow;
  right: -20rem;
  &:active {
    transform: translate(-10px, 10px);
    box-shadow: none;
  }
  &:hover {
    background: $lightgrey;
  }
}

.hand-container {
  
  position: relative;
  transform: rotate(30deg) translateX(10rem) translateY(-90rem);
}

.hand {
  width: 30rem;
  position: fixed;
  right: 8rem;
  top:-29rem;
  filter: drop-shadow( 4px 7px 0px $shadow);
}

.big-red {
  font-family: 'Silom';
  cursor: -webkit-image-set(
  url('../../static/pointer.svg') 1x,
  url('../../static/pointer.svg') 2x
  ) 50 0, pointer;
  position: absolute;
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
  border-radius: 50%;
  background: $red;
  position: fixed;
  right: 20rem;
  top: 20rem;
  box-shadow: -5px 6px 0px $shadow;
  &:focus {
    outline: none;
    
  }
  &:active {
    outline: none;
    transform: scale(1.4);
  }
}

@media only screen and (max-width: 800px) {

  .window-frame,  .box, .window-content {
    display: block;
    padding: 0;
    position: static;
    margin: auto;
    width: 95vw;
    margin-bottom: 2rem;
    
    .p5 {
      display: none;
    }
  }
.background {
  padding-top : 1rem;
}
  .error-two, .error-three {
    display: block;
    position: static;
    margin: auto;
    
    width: 95vw;
    margin-bottom: 2rem;
  }

  .window-content{
    font-size: 3rem;
  }

  .hand-container {
    display: none;
  }

  #work {
    width: 95vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .wrapper, .nine {
    display: none;
  }

  .eight .window-content{
    font-size: 2rem;
    width: 100%;
    
  }

  .four {
    margin: auto;
    .window-content{
      font-size: 3rem;
      padding-left: 1rem;
      overflow-y: scroll;
      line-height: 1.2;
    }
  }

  .one, .two, .three, .five, .six, .seven {
    .window-content{
      padding-left: 1rem;
    }
  }
  
}
