$black: #000;
$lightgrey: #D9DAD2;
$darkgrey: #BDBEB6;
$yellow: #F0B408;
$red: #E84540;
$green: #00822A;
$blue: #015EAC;
$shadow: rgba(0, 0, 0, 0.4);

html {
  background:$lightgrey;
  font-family: 'Prata';
  overflow-x: hidden;

  
}
li {
  text-decoration: underline;
}

a {
  text-decoration: underline;
  color: inherit;
}

.background {
  position: relative;
  background: $lightgrey;
  width: 100vw;
  background-size: 1.98rem 1.98rem;
  background-image:
    linear-gradient(to right, $black 1px, transparent 1px),
    linear-gradient(to bottom, $black 1px, transparent 1px);
}

.window-frame {
  box-shadow: -10px 10px 0 $shadow;
  border: 1px solid $black;
  position: relative;
  //background-color: yellow;
  .navbar {
    margin: 0;
    cursor: move;
    background: $lightgrey;
    font-family: 'Silom';
    height: 2.5rem;
    border-bottom: 0.1rem solid $black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .close {
      background: $red;
      margin-left: 1rem;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 0.1rem solid $black;
      cursor: pointer;
      &:focus {
        outline: none
        
      }
    }
    .title {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      .bars {
        border-top: 1px solid;
        border-bottom: 1px solid;
        width: 30%;
        height: 0.8rem;
      }
    }
  }
  .window-content {
    height: calc(100% - 2.5rem);
    padding: 2rem 1rem 0 3rem;
    line-height: 0.84;
    position: relative;
  }
}

.one {
  top: 5rem;
  margin: auto;
  margin-bottom: 8rem;
  left: -15vw;
}

.p5 {
  top: 5rem;
  margin: auto;
  margin-bottom: -8rem;
  left: -25vw;
}

.two {
  margin: auto;
  margin-bottom: -10rem;
  left: 15vw;
  top: -15rem;
}

.three {
  margin: auto;
  margin-bottom: 5rem;
  left: -12vw;
  .window-content {
    color: white;
  }
}

.four {
  margin: auto;
  left: 5vw;
  margin-bottom: 5rem;
  .window-content {
    line-height: 0.95;
  }
}

#work {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin-left: 5vw;
  margin-bottom: 20rem;
}
.six {
  top: 15rem;
}

.eight {
  margin: auto;
  margin-bottom: 4rem;
  .window-content{
    overflow-y: scroll;
    line-height: 0.95;
  }
}
.error-window {
  box-shadow: -10px 10px 0 $shadow;
  background: $darkgrey;
  padding-bottom: 2rem;
  font-family: 'Silom';
  border: 1px solid;
  
  .error-navbar {
    cursor: move;
    background: $blue;
    border-bottom: 1px solid;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .error-title {
      color: white;
      font-size: 0.7rem;
      padding-left: 1rem;

    }
    .error-close {
      height: 1.3rem;
      width: 1.3rem;
      margin-right: 0.1rem;
      background: $darkgrey;
      border-radius: none;
      border: none;
      border: 1px solid;
    }
  }
  .error-window-content {
    .error-top-content {
      padding: 1rem;
      padding-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    p {
      width: 50%;
      padding-left: 1rem;
    }
  }
}

.error-cross {
  box-shadow: -2px 2px 0 $shadow;
  width: 3rem;
  height: 3rem;
  background: $red;
  border-radius: 50%;
  border: 1px solid;
  .cross {
    position: relative;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
  } 
}


.error-buttons {
  display: flex;
  margin: auto;
  width: 70%;
  
}

.error-enter {
  cursor: pointer;
  background: $darkgrey;
  font-family: 'Silom';
  border-radius: none;
  border: none;
  border: 1px solid;
  padding: 0.4rem;
  margin: auto;
  display: flex;
  box-shadow: -2px 2px 0 $shadow;
}

.error-one {
  position: absolute;
  left: 60vw;
  top: -20rem;
  margin-bottom: -10rem;
}

.error-two {
  position: relative;
  left: 70vw;
  top: -10rem;
}

.error-three {
  position: relative;
  left: 20vw;
}

.nine {
  margin: auto;
  margin-bottom: 3.4rem;
  left: 20vw;
  .window-content{
    top: -1rem;
  }
}

.tetris {
  border: 2px solid;
  width: calc(70rem - 10px);
  height: calc(40rem - 2px);
  position: relative;
  background-color: $darkgrey;
  opacity: 0.6;
}

.windows img {
  width: 100%;
}